<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


    <link rel="stylesheet" href="../static/index.css"/>
    <script src="../static/index.js"></script>

    <title>Replie - Predict (0.0.1beta)</title>
</head>
<body>
<h1>Replie</h1>
<div class="section">

    <form id="predict" action="">
        <div id="checkpoints" class="dropdown">
            <button id="checkpoint_val" class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Checkpoints
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for model in models %}
                <a class="dropdown-item" href="#" onclick="set_checkpoint('{{ model }}');">{{ model }}</a>
                {% endfor %}
            </div>
        </div>
        <div id="epochs" class="dropdown">
            <button id="epochs_val" class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Epochs
            </button>
             <div id="epochs_list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
        </div>
        <div id="steps" class="dropdown">
            <button id="steps_val" class="btn btn-secondary dropdown-toggle" type="button"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Steps
            </button>
            <div id="steps_list" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
        </div>
        <div class="form-group">
            <label for="input_seq"></label>
            <textarea class="form-control" id="input_seq" rows="8"></textarea>
        </div>
        <button id="submit" type="submit" class="btn btn-primary" onclick="submitdata();" disabled>Predict</button>

    </form>

    <div id="results" class="list-group" hidden>
    </div>


</div>

</body>
</html>